<img class="profilePhoto pLeft"
     style="flex: 490 1 0%; margin-left: 0px; max-width: 768px; margin-top: 0px; margin-bottom: 0px; top: 0px; height: 768px; position: relative;"
     src="img/aboutme.jpg">


<div class="pLeft">
    <h3>About Me:</h3>
    <div class="aboutMe">
        My name is Sarah Irwin and I'm a photographer. I enjoy music, cooking vegan food, spending time outdoors, and
        Sci-Fi TV shows.
    </div>

    <h3>Education:</h3>
    <div class="aboutMe">
        BFA in Applied Media, Photography Concentration from Edinboro University of Pennsylvania, Magna Cum Laude

        Minors in Music, Cinema, & General Art

        Associates in Graphic Design from Monroe Community College
    </div>

    <h3>Exibitions & Publications</h3>
    <span class="" style="padding-left: 100px">

        <div>
            <span><h4 style="display: contents">Satiated</h4> - Dec 2018</span>
        </div><br/>

        <div>
            <span><h4 style="display: contents">Duo Photography Exibition</h4> - Bates Gallery, Edinboro</span>
        </div><br/>


        <div>
            <span><h4 style="display: contents">Light and Lens: Photography in the Digital Age 3rd Edition, Robert Hirsch</h4> Contributed a Photograph and writing, page 207

        (As Sarah Schroeder)</span>
        </div><br/>


        <div>
            <span><h4 style="display: contents">Silvervision Photo Publication</h4> - May 2018, Edinboro Photography Club</span>
        </div><br/>


        <div>
            <span><h4
                    style="display: contents">We’ve Been Framed</h4> - February  2018, Group Photo show, Edinboro</span>
        </div><br/>


        <div>
            <span><h4 style="display: contents">Light Relief</h4> - February   2018</span>
        </div><br/>


        <div>
            <span><h4 style="display: contents">Duo Show</h4> - Bates Gallery, Edinboro</span>
        </div><br/>


        <div>
            <span><h4 style="display: contents">Left To Our Own Devices</h4> - October 2017
        Group photography show, Edinboro</span>
        </div><br/>

        <div>
            <span><h4 style="display: contents">The Shape of Things</h4> - April  2017
        Juried group show, Edinboro</span>
        </div><br/>

        <div>
            <span><h4 style="display: contents">Untitled</h4> - March 2017
        Group photo show, Edinboro</span>
        </div><br/>

    </span>


    <!--<h3>Goals</h3>-->
    <!--<div class="aboutMe">-->

    <!--</div>-->
</div>

